@font-face {
    font-family: "mitra";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/BMitra-Bold.woff") format("woff");
}

@font-face {
    font-family: "mitra";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BMitra-Regular.woff") format("woff");
}

html * {
    font-family: "mitra" !important;
}

.dir {
    direction: rtl;
}

.undir {
    direction: ltr;
}
